<p-table [value]="Books" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
      <tr>
          <th>Title</th>
          <th>Published</th>
          <th>Genre</th>
          <th>AuthorId</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-book>
    <div >

    </div>
      <tr>
          <td>{{ book.title }}</td>
          <td>{{ book.publishedDate }}</td>
          <td>{{ book.bookGenre }}</td>
          <td>{{book.authorId}}</td>
          <td><p-button label="Edit"></p-button></td>
          <td><p-button label="Delete" (click)="deleteBook(book.id)" severity="danger"></p-button></td>
      </tr>
  </ng-template>
</p-table>