<div class="data-container">
  <div class="flex justify-content-between">
    <h2>Authors</h2>
    <p-button label="Add author" (click)="showAddModal()"></p-button>
  </div>
  <p-table [value]="Authors" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>BirthDate</th>
        <th colspan="2">Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-author>
      <tr>
        <td>{{ author.firstName }}</td>
        <td>{{ author.lastName }}</td>
        <td>{{ author.birthDate }}</td>
        <td>
          <p-button label="Edit" (click)="showAddEditModal(author)"></p-button>
        </td>
        <td>
          <p-button
            label="Delete"
            (click)="deleteAuthor(author.id)"
            severity="danger"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <app-auhtor-form
    [dispalyAddModal]="dispalyAddModal"
    [editedAuthor]="editedAuthor"
    (clickClose)="hideAddModal($event)"
  ></app-auhtor-form>
</div>
