<p-table [value]="Authors" [tableStyle]="{ 'min-width': '50rem' }">
  <ng-template pTemplate="header">
      <tr>
          <th>FirstName</th>
          <th>LastName</th>
          <th>BirthDate</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-author>
      <tr>
          <td>{{ author.firstName }}</td>
          <td>{{ author.lastName }}</td>
          <td>{{ author.birthDate }}</td>
      </tr>
  </ng-template>
</p-table>

<button (click)="addAuthor()">Add new author</button>