<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>BirthDate</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let author of authors">
        <td >
          {{author.id}}
        </td>
        <td><input type="text" value={{author.firstName}}></td>
        <td><input type="text" value={{author.firstName}}></td>
        <td><input type="date" value={{author.birthDate}}></td>
        <td><button (click)="editAuthor(author.id, author)">Save</button></td>
        <td><button (click)="deleteAuthor(author.id)">Delete</button></td>
      </tr>
    </tbody>

    <button (click)="addAuthor()">Add new author</button>
</table>