<div class="user" *ngIf='myuser?.[0]?.userName!=""'>
  <p-table [value]="myuser" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>UserName</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>BirthDate</th>
        <th>Address</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>{{ user.userName}}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{user.birthDate}}</td>
        <td>{{user.address}}</td>
      </tr>
      <div *ngIf='isLoggedIn'>
        <p-button label="Logout" severity="success" (click)="logout()"></p-button>
      </div>
    </ng-template>
  </p-table>
</div>